{% extends 'people/base.html' %}

{% block content %}
    <div class="container" style="width: 75%">
         <legend class="border-bottom mb-4">{{ object }}</legend>

        <table class="table table-bordered">

            <thead class="thead-dark">
            <tr class="active">
                <th scope="col" style="width: 10%">No</th>
                <th scope="col" style="width: 40%">First Name</th>
                <th scope="col" style="width: 40%">Last Name</th>
                <th scope="col" style="width: 10%;text-align: center">Details</th>
            </tr>
            {% for person in people %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'people:person-detail' id=person.id %}">{{ person.first_name }}</a></td>
                <td><a href="{% url 'people:person-detail' id=person.id %}">{{ person.last_name }}</a></td>
                <td style="text-align: center"><a href="{% url 'people:person-detail' id=person.id %}"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
            </tr>
            {% endfor %}
            </thead>
        </table>

        <div class="form-group">
             <a class="btn btn-primary" href="{% url 'people:person-list' %}">Go to list</a>
        </div>

    </div>
{% endblock %}