{% extends "people/base.html" %}
{% block content %}

    <div class="container" style="width: 75%">

    <h1 align="center">{{request.user|capfirst }}'s groups</h1>

        <a href="{% url 'group:group-add' %}"><button type="button" class="btn btn-success">Add group</button></a>
        <hr class="col" align="center">
        <table class="table table-bordered">

            <thead class="thead-dark">
            <tr class="active">
                <th scope="col" style="width: 10%">No</th>
                <th scope="col" style="width: 70%">Name</th>
                <th scope="col" style="width: 10%; text-align: center">Update</th>
                <th scope="col" style="width: 10%; text-align: center">Delete</th>
            </tr>

        {% for instance in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'group:group-detail' id=instance.id %}">{{ instance.name }}</a></td>
                <td style="text-align: center"><a href="{% url 'group:group-update' instance.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td style="text-align: center"><a href="{% url 'group:group-delete' instance.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        {% endfor %}

        </thead>
    </table>

    </div>

{% endblock %}