{% extends "people/base.html" %}
{% block javascript %}
  <script>
    $("#id_username").on('input', function () {
      let username = $(this).val();
      $.ajax({
        url: '/ajax_calls/search/',
        data: {
          'term': username
        },
        success: function (data) {
            $('#super_id').html(data);
        }
      });
    });

  </script>

{% endblock %}
{% block content %}

    <div class="container" style="width: 75%">

    <h1 align="center">{{request.user|capfirst }}'s contacts</h1>

        <div class="btn-form row" >
            <a style="display:inline-block" href="{% url 'people:person-add' %}">
                <button type="button" class="btn btn-success btn-add">Add contact</button>
            </a>
            <form  class="ml-auto" style="display:inline-block" id="search" method="POST" action="{% url 'people:search'  %}">
                {% csrf_token %}
                <input type="text" id='id_username' name='txtSearch'>
            </form>

        </div>
        <hr class="col" align="center">
        <table class="table table-bordered">

            <thead>
            <tr class="active">
                <th scope="col" style="width: 8%">No</th>
                <th scope="col" style="width: 31%">First Name</th>
                <th scope="col" style="width: 31%">Last Name</th>
                <th scope="col" style="width: 10%">Groups</th>
                <th scope="col" style="width: 10%; text-align: center">Update</th>
                <th scope="col" style="width: 10%; text-align: center">Delete</th>
            </tr>
            </thead>
        <tbody id="super_id">
        {% for instance in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'people:person-detail' instance.id %}">{{ instance.first_name }}</a></td>
                <td><a href="{% url 'people:person-detail' instance.id %}">{{ instance.last_name }}</a></td>
                <td><a href="{% url 'people:person-groups' id=instance.id %}"><span class="glyphicon glyphicon-zoom-in"></span> Go</a></td>
                <td style="text-align: center">
                    <a href="{% url 'people:person-update' instance.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td style="text-align: center">
                    <a href="{% url 'people:person-delete' instance.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    </div>

{% endblock %}