{% extends 'people/base.html' %}

{% block content %}

    <div class="container" style="width: 75%">
         <legend class="border-bottom mb-4">Details</legend>

        <h4><b>Created At: </b>{{ object.created_at|date:"F d, Y" }}</h4>
        <h4><b>Last Update: </b>{{ object.updated_at|date:"F d, Y" }}</h4>

        <table class="table table-bordered">

            <thead class="thead-dark">
            <tr style="background-color: darkgray; color: white">
                <th scope="col" style="width: 15%">First Name</th>
                <th scope="col" style="width: 15%">Last Name</th>
                <th scope="col" style="width: 10%">Groups</th>
                <th scope="col" style="width: 15%">Description</th>
            </tr>
            <tr>
                <td>{{ object.first_name }}</td>
                <td>{{ object.last_name }}</td>
                <td><a href="{% url 'people:person-groups' id=object.id %}"><span class="glyphicon glyphicon-zoom-in"></span> Details</a></td>
                <td>{{ object.description }}</td>
            </tr>
            </thead>
        </table>
        <br>

        <legend class="border-bottom mb-4">Address</legend>
        {% if object.address.all %}
            {% for item in object.address.all %}
            <table class="table table-bordered">
                <tr style="background-color: darkgray; color: white">
                    <th scope="col" style="width: 10%">No</th>
                    <th scope="col" style="width: 30%">City</th>
                    <th scope="col" style="width: 30%">Street</th>
                    <th scope="col" style="width: 10%">Number</th>
                    <th scope="col" style="width: 10%; text-align: center">Update</th>
                    <th scope="col" style="width: 10%; text-align: center">Delete</th>
                </tr>
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.street }}</td>
                    <td>{{ item.street_number }}</td>
                    <td style="text-align: center">
                        <a href=""><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </td>
                    <td style="text-align: center">
                        <a href=""><span class="glyphicon glyphicon-remove"></span></a></td>
                    </td>
                </tr>
            </table>
        {% endfor %}
        <br>
        {% else %}
            <p>There is no address right now...</p>
        {% endif %}

        <legend class="border-bottom mb-4">Phone</legend>
        {% if object.phone.all %}
            {% for item in object.phone.all %}
                <table class="table table-bordered">
                    <tr style="background-color: darkgray; color: white">
                        <th scope="col" style="width: 10%">No</th>
                        <th scope="col" style="width: 35%">Phone</th>
                        <th scope="col" style="width: 35%">Type</th>
                        <th scope="col" style="width: 10%; text-align: center">Update</th>
                        <th scope="col" style="width: 10%; text-align: center">Delete</th>
                    </tr>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.phone_number }}</td>
                        <td>{{ item.type }}</td>
                        <td style="text-align: center">
                            <a href=""><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </td>
                        <td style="text-align: center">
                            <a href=""><span class="glyphicon glyphicon-remove"></span></a></td>
                        </td>
                    </tr>
                </table>
            {% endfor %}
            <br>
        {% else %}
            <p>There is no phone right now...</p>
        {% endif %}

        <legend class="border-bottom mb-4">Email</legend>
        {% if object.email.all %}
            {% for item in object.email.all %}
                <table class="table table-bordered">
                    <tr style="background-color: darkgray; color: white">
                        <th scope="col" style="width: 10%">No</th>
                        <th scope="col" style="width: 35%">Email</th>
                        <th scope="col" style="width: 35%">Type</th>
                        <th scope="col" style="width: 10%; text-align: center">Update</th>
                        <th scope="col" style="width: 10%; text-align: center">Delete</th>
                    </tr>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.type }}</td>
                        <td style="text-align: center">
                            <a href=""><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </td>
                        <td style="text-align: center">
                            <a href=""><span class="glyphicon glyphicon-remove"></span></a></td>
                        </td>
                    </tr>
                </table>
            {% endfor %}
            <br>
        {% else %}
            <p>There is no email right now...</p>
        {% endif %}

        <div class="form-group">
             <a class="btn btn-primary" href="{% url 'people:person-list' %}">Go Back</a>
        </div>

    </div>
{% endblock %}