{% extends 'people/base.html' %}

{% block content %}
    <div class="container" style="width: 75%">
         <legend class="border-bottom mb-4">Details</legend>

        <table class="table table-dark">

            <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 25%">First Name</th>
                <th scope="col" style="width: 25%">Last Name</th>
                <th scope="col" style="width: 20%">Groups</th>
                <th scope="col" style="width: 30%">Description</th>
            </tr>
            <tr>
                <td>{{ object.first_name }}</td>
                <td>{{ object.last_name }}</td>
                <td><a href="{% url 'people:person-groups' id=object.id %}"><span class="glyphicon glyphicon-zoom-in"></span> Details</a></td>
                <td>{{ object.description }}</td>
            </tr>
            </thead>
        </table>

        <div class="form-group">
             <a class="btn btn-default" href="{% url 'people:person-list' %}">Go Back</a>
        </div>

    </div>
{% endblock %}